
/* YOUR CSS STYLES */

h1{font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:#000;
    //border-style: solid;
    text-align:center;}

h2, h3 {
    font-family: 'Roboto', sans-serif;
    color: #000;
    text-align: center;
/ / border-style: solid;
}
h4 {font-family: 'Roboto', sans-serif;
    color:#000;
    //text-align:center;
    //border-style: solid;
}


body {font-family: 'Roboto', sans-serif;
   // font-size: 15px;
    width:100%;
    line-height:2%;
    text-indent:1px;
    padding-left:1%;
    padding-right:1%;
    line-height: 120%;
    background:#F3F3F1;

}

hr {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 2px;
}

tr:nth-child(odd){background-color: #D3D3D3}
tr:nth-child(even){background-color: #fff}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.country:hover{
    stroke: #fff;
    stroke-width: .7px;
}
#map-area {
    margin:10px 10%;
    border:2px solid #000;
    border-radius: 5px;
    height:100%;
    overflow:hidden;
    background: #7FCDFF;
}
.hidden {
    display: none;
}
div.tooltip {
    color: #222;
    background: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    box-shadow: 0px 0px 2px 0px #a6a6a6;
    opacity: 0.9;
    position: absolute;
}
